.button-filter {
    margin: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #0fbf6b;
    transition: 1.5s;
    filter: brightness(0.5);
    cursor: pointer;
}

.button-filter:hover {
    filter: brightness(1);
}